
    <h1>Welcome to PlaceMe!</h1><br>

<div class="place_bio">
  <p>Here at PlaceMe, we believe that people are defined not only by their hometown and where they have lived and are living now, but also where they visited and plan on going to some day. We would like to bring people together based on places we love and cherish. We hope you join us and contribute to this growing community of strangers, vagabonds, and friends. Talk about your memories. Talk about your hopes and dreams.</p>
</div>
    <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary" %>
    <%= link_to "Returning User", login_path, :class => "btn btn-primary" %>
