// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup {
  margin-top: 10px;
  max-width: 30%;
  margin-left: 35%;
}

.been_to {
  margin-left: 14%;
  text-align: left;
  float: left;
}

.will_go {
  margin-left: 15%;
  // float: left;
  float: left;

}

.all_places {
  margin-top: 3em;
  margin-left: 6%;
}

.add_btn {
  margin: 10px;
}
